body {
  background: var(--primary-white);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --button-active-color: #188CE8;
  --primary-white: #ffffff;
  --primary-background: #f5f5f5;
  --secondary-text-color: #757575;
  --hero-color: #2f303a;
  --section2-color: #f5f4fa;
  --black: #000000;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --border-color: #AFB1B8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;

}
button {
  cursor: pointer;
  border: none;
  border-radius:4px;
  display:block;
}
address {
  font-style: normal;
}
img 
{
  display: block;
  max-width: 100%;
  height: auto;

}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {

  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
 
}
.link{
  text-decoration: none;
  /* color: inherit; */
}
/*-------HEADER------*/

.header {
  
   
}
.list{
list-style: none;
padding-left: 0;
margin:0;
}

.header-list {
  display: flex;
  gap:50px;
}


.header-container {
  display: flex;
  /*width: 1600px;
  height: 80px; 
  justify-items: space-between;*/
  align-items: center;
}

.header-navigation{
  display: flex;
  align-items: center;
}

.header-links {
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
}


.header-connect{
  display: flex;
  gap: 50px;
  margin-left: auto;
  align-items: center;
 }

/*-----------Hero-------*/

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo:hover {
  color: var(--accent-color);
}
.webstudio{
  color: var(--black);
}
.web{
  color: var(--accent-color);
}
.webstudio-footer {
  color: var(--primary-white);
}


.mail {
font-weight: 500;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

}

.address{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-white);

margin-bottom: 9px;

}
ul {
  list-style: none;
  }
.link:hover,
.link:focus, .footer .link:hover, .footer .link:focus {
  color: var(--accent-color);
}
.link {
    text-decoration: none;
    font-style: normal;
    
}
 .current {
  color: var(--accent-color);
}

.footer .link{
    color: var(--primary-white);
}


/*----------HERO--------*/

/*.hero-container{
display: flex;
}
*/

.hero {
  background-color: var(--hero-color);
  width: 1600px; 
  height: 600px;
  align-items: center;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  margin-bottom: 30px;
}
.button {
  color: var(--primary-white);
  background-color: var(--accent-color);
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  /* height: 50px; */
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
}

.button :hover,
.button :focus {
  color: var(--primary-white);
  background-color: var(--button-active-color);
}

.about{
  padding-top: 94px;
}

.features-list {
  
  display: flex;
  gap: 30px;

}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
  
}

.features-title-wrap{
  margin-bottom: 10px ;
}
/*
.features-wrap{
  justify-content: center;
  display:flex;
  padding-top: 65px;
  display: flex;

flex-wrap: wrap;
justify-content: flex-start;
gap: 9px;
}

*/
.ourteam-items{
  display:flex;
  gap:30px;
  
  margin-bottom: 94px;
}

.portfolio-text {

font-size:16px;
line-height: 1.18;
color:var(--secondary-text-color);
/* margin-bottom: ; */
}
/* ------WHAT WE DO------*/
.whatwedo{
  display:flex;
  gap: 30px;
  
  margin-top:50px;
}
.whatwedo-section{
  padding: 94px 0;
}

.ourteam-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  
}

.ourteam-text{

font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-bottom: 16px;

}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  
}
.h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.h2-portfolio{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;
color: var(--primary-text-color);
}

.h3 {
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;

}
.section-ourteam{
  background-color: var(--section2-color);
  padding:94px 0;
}

.team-member{
background-color: var(--primary-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-soc-link{

width: 100%;
height: 100%;
background: var(--primary-white);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-list{
  display: flex;
  justify-content: center;
  gap: 10px;

} 

.team-soc-link :hover, 
.team-soc-link :focus
{
background-color: var(--accent-color);
fill: var(--accent-color);
}

.team-soc-link :hover .team-soc-icon{
fill: var(--accent-color);
}
.team-soc-link :focus .team-soc-icon{
fill: var(--accent-color);
}

.link-soc{

}
.list-soc{}


/*-------OUR CLIENTS-----*/
.section-title-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  
}
.client-list {
  display:flex;
  gap: 30px;
  margin: 94px;
}

.client-item {
  width: calc((100% - 150px) / 6);
  height: 90px;

}
.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-link :hover, 
.client-link :focus
{
background-color: var(--accent-color);
fill: var(--accent-color);
}

.client-link :hover .clients-iconn{
fill: var(--accent-color);
}
.client-link :focus .clients-icon{
fill: var(--accent-color);
}
/*-------FOOTER-------*/

.footer {
  background-color: var(--hero-color);
  padding: 60px 0px;
}
/*.contacts{
    color: var(--contacts-color);
    
}
*/
.contacts-footer {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-bottom: 9px;
  }

.footer .contacts-footer{
color: var(--contacts-color);

}

.contacts-footer-list li:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  margin-bottom: 20px;
display: inline-block;
}

/*-----Portfolio----*/

.header-portfolio{
  border: 1px solid var(--portfolio-border-color);
}

.portfolio-wrap-text{
  
font-weight: 400;
font-size: 16px;
line-height: 1.88;

color: var(--secondary-text-color);
}

.style{

  padding: 94px 0;
}
.button-white {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.71;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background-color: var(--section2-color);
cursor: pointer;

}
.button-white:hover {
  color: var(--primary-white);
  background-color: var(--accent-color);
}
.btn-white{
  display: flex;
  gap: 8px;
  justify-content: center;
}
.btn-white li button{
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
}

.grid-wrapper{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  column-gap: 30px;
  row-gap:30px;

}

.grid-item{

  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);

  }
